
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input id="pwd" type="password" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="major" class="form-label">Major</label>
        <select id="major" class="form-select">
            <option value="Computer science">Computer science</option>
            <option value="Software engineering">Software engineering</option>
            <option value="Computer engineering">Computer engineering</option>
            <option value="Data science">Data science</option>
            <option value="Information technology">Information technology</option>
        </select>
    </div>
</form>



